corrélation_brent.tex
dfv5_to_SAS.ipynb
données_2024.ipynb
Engle-Granger Gazole.ipynb
Engle-Granger mihoubi agrégé.ipynb
geo_on_v5.pdf
Modèle économétrique.ipynb
prix moyens.ipynb
spread.ipynb
vmap-Copy1.ipynb
.ipynb_checkpoints/